.circle-button-container
    display: flex
    align-items: center
    justify-content: center
    height: 70px
    width: 70px
    font-size: 2rem
    border-radius: 50%
    border: 0
    outline: none
